.page {
  min-height: 100vh;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  font-family: "Outfit";
}

@media print {
  .page {
    background-color: #fff;
  }
}